@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    text-transform: uppercase;
}
body{
    background-color: #0c1022;
    color:#fff;
}

.heading{
   text-align: center;
   text-transform: uppercase;
}
hr{
    width: 100px;
    margin: auto;
    margin-top:5px;


}
.header{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    padding:20px 10%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 100;

}
.logo{
    font-size: 25px;
    color: #ffff;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;

}
.navbar a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight:500;
    margin-left: 35px;
}

.navbar a.active, a:hover{
    background:linear-gradient(45deg, rgb(199, 202, 5), rgb(226, 4, 4));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}
.home{
    width:100%;
    height:120vh;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    justify-content: space-around;


}

.home-content h1{
    font-size:56px;
    font-weight:700;
    line-height: 1.2;

}
.home-content h3{
    font-size:35px;
    font-weight:500;
    
}
.home-content p{
    font-size:16px;
    font-weight:80;
    margin:20px 0 4;
}
.btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 40px;
    width:180px;
    height: 48px;
    background:transparent;
    border-radius: 40px;
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    font-weight: 600px;
    letter-spacing: 1px;
    z-index: 1;
    background:linear-gradient(45deg, rgb(199, 202, 5), rgb(226, 4, 4));

}
/*
.btn::before{
    content:'';
    position: absolute;
    top:0;
    left: 0;
    inset: 0;
    background-position: 0 0 ;
    background:linear-gradient(45deg, rgb(199, 202, 5), rgb(226, 4, 4));
    z-index: -1;
    border-radius: 40px;
    background-size: 200%;
    filter: blur(5px);
    transition: .5s ease;

}
.btn:hover:before{
    background-position: 100% 0;


}
.btn::after{
    content:'';
    position: absolute;
    top:0;
    left: 0;
    inset: 0;
    background-position: 0 0 ;
    background:linear-gradient(45deg, rgb(199, 202, 5), rgb(226, 4, 4));
    z-index: -1;
    border-radius: 40px;
    background-size: 200%;
    transition: .5s ease;

}
.btn:hover:after{
    background-position: 100% 0;


}
*/
        
.home-socials a{
    position: relative;
   display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background:transparent;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 20px 0;
    margin-right: 40px;
    text-decoration: none;
}
.home-socials a::before{
    content: '';
    position: absolute;
     width: 100%;
     height: 100%;
     background:linear-gradient(45deg, rgb(199, 202, 5), rgb(226, 4, 4));
     border-radius: 50%;
    z-index: -1;
     transition: .5s ease;
}
.home-socials a:hover::before{
    filter: blur(2px);

}
.home-socials a::after{
    content: '';
    position: absolute;
     width: 100%;
     height: 100%;
     background:#0c1022;
     border-radius: 50%;
     transform:scale(.88);
     z-index: -1;
     transition: .5s ease;
}
.home-socials a:hover::after{
    transform:scale(0);

}

.home-img{
    width: 300px;
    height: 300px;
    
}
.home-img .glowing-circle{
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img .glowing-circle::after{
    content: '';
    position:absolute;
    width: 380px;
    height: 380px;
    background: #0c1022;
    border-radius: 50%;

}


/*ABOUT section*/
#about{
    margin:auto;
    padding: 80px 0;  
    

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:30px;
}
.col-lg-4{
    flex-basis: 35%;
    
}
.col-lg-4 img{
    width:100%;
    border-radius:15px; 
}
.col-lg-8{
    flex-basis: 60%;
    
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;

    

}

.tab-links{
    margin-right: 50px;
    font-size:18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
       
}
.tab-links::after{
    content: '';
    width:0;
    height: 3px;
    background:linear-gradient(45deg, rgb(199, 202, 5), rgb(226, 4, 4));
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;

}
.tab-contents ul li{
    list-style: none;
    margin:10px 0;
}
.tab-contents ul li span{
    color:#d56304;
    font-size: 14px;
}

.tab-contents{
    display:none;
}
.tab-contents.active-tab{
    display: block;
}

/*---------SERVICES------*/
#services{
    padding: 30px 0;
    margin: 50px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}

.services-list div{
    background: #d56304;
    padding: 20px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    color: #fff;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div:hover{
    background:linear-gradient(45deg, rgb(199, 202, 5), rgb(226, 4, 4));
    transform: translate(-10px);


}
/*-----PROJECTS--*/
#projects{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius:10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius:10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height:0;
    background: linear-gradient(rgba(0,0,0,0.1),#d56304);
    border-radius: 10px;
    position:absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top:20px;
    color: #d56304;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background:#fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform:scale(1.1);

}
.work:hover .layer{
    height:100%;
}
.btn_seemore{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #d56304;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.5s;
}

b.btn_seemore:hover{
    background: #d56304;
}


















